{% extends 'base.html' %} <!-- Irá herdar (extender) o arquivo base.html -->

{% block content %} <!-- Irá definir o bloco chamado de content -->

<div class="flexcards-home">
    <div class="card-home">
        <a href="/membros">
            <div>
                <img id="logo" src="{{url_for('static', filename='images/members.png')}}" alt="logo">
                <h1 id="name"><strong>Membros</strong></h1>
            </div>
        </a>   
    </div>
    <div class="card-home">
        <a href="/atividades">
            <div>
                <img id="logo" src="{{url_for('static', filename='images/activities.webp')}}" alt="logo">
                <h1 id="name"><strong>Atividades</strong></h1>
            </div>
        </a>
    </div>
    <div class="card-home">
        <a href="/instrutores">
            <div>
                <img id="logo" src="{{url_for('static', filename='images/instructors.png')}}" alt="logo">
                <h1 id="name"><strong>Instrutores</strong></h1>
            </div>
        </a>
    </div>
</div>

{% endblock content %} <!-- Irá definir o final do bloco content -->
