{% extends 'base.html' %}

{% block content %}
<form class="form" action="/membro/{{membro.ident}}" method="POST" enctype="multipart/form-data">
    
    <h1>Editar Membro</h1>

    <span class="error">{{error}}</span>

    {% if membro.img %}
    <img height="120px" src="{{url_for('static', filename='uploads/' + membro.img.__str__())}}"
         style="display:block;margin:auto;">
    {% endif %}

    <label for="name">Nome:</label>
    <input name="name" id="name" placeholder="Nome" type="text" value="{{membro.name}}" required autofocus>

    <label for="surname">Sobrenome:</label>
    <input name="surname" id="surname" placeholder="Sobrenome" type="text" value="{{membro.surname}}" required>

    <label for="birth_day">Data de nascimento:</label>
    <input id="birth_day" name="birth_day" placeholder="Data de nascimento" type="date" value="{{membro.birth_day}}" required>

    <label for="email">E-mail:</label>
    <input type="text" name="email" id="email" placeholder="E-mail" value="{{membro.email}}" required>

    <label for="phone">Telefone:</label>
    <input type="text" name="phone" id="phone" placeholder="Telefone" value="{{membro.phone}}" required>

    <label for="address">Endereço:</label>
    <input type="textarea" name="address" id="address" placeholder="Endereço" value="{{membro.address}}" required>

    <label for="plan_type">Tipo do plano</label>
    <select id="plan_type" name="plan_type">
        {% for tipo_plano in tipos_planos %}
        <option value="{{tipo_plano.ident}}" {% if membro.plan_type == tipo_plano.ident %} selected="selected" {% endif %}>{{tipo_plano.plan}}</option>
        {% endfor %}
    </select>
    
    <label for="start_date">Data de início:</label>
    <input id="start_date" name="start_date" placeholder="Data de início" type="date" value="{{membro.start_date}}" required>

    <label for="enabled">Ativo:</label>
    <select name="enabled" id="enabled">
        <option value="True" {% if membro.enabled == True %} selected="selected" {% endif %}>Sim</option>
        <option value="False" {% if membro.enabled == False %} selected="selected" {% endif %}>Não</option>
    </select>

    <label for="img">Imagem de perfil</label>
    <input id="img" name="img" type="file">

    <button type="submit">Atualizar Membro</button>

</form>
{% endblock content %}